body {
    background-color: #fdfdfd;
    color: #020202;
}

header {
    top: 10em;
    position: relative;
    margin: 0 auto;
}

header h1 {
    text-align: center;
}

header img {
    width: 10em;
    border-radius: 100%;
    position: relative;
}

header p {
    text-align: center;
    position: relative;
    margin: auto;
}